.upper-dark-container{
    background-color: rgba(#121217,.9);
    color: #fff;
    width: 99%;
    border-radius: 10px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
    position: relative;

    .upper__title {
        h2{
            text-transform: capitalize;
            letter-spacing: 1px;
            font-size: 26px;
            
        }
        span{
            font-weight: 300;
            font-size: 30px;
        }
    }
    .upper__sort{
        letter-spacing: 2px;
    }
    .upper__shift{
        /deep/select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            border: none;
            color: #00CAF2;
            font-weight: 400 !important;
            border-radius: 0;
            border: solid 2px #00CAF2;
            border-radius: 5px;
            position: relative;
            text-align: center;
            padding: 10px 40px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: rgba(#00CAF2, .3);
                color: #fff;
                box-shadow: 3px 3px 3px rgba(black, .3)
            }
        }
    }
    i {
        border: solid #00CAF2;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
    }
    .down-arrow {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.sdt{
    font-size: 14px;
    padding: 8px 18px; 
}

.darkFixed {
    position: fixed;
    top:45px;
    width: 80%;
    border-radius: 0px;
    box-shadow: 3px 3px 3px rgba(black, .2);
    z-index: 90;
}

input.form-control{
    background: transparent;
    border: none;
    border: none;
    text-align: center;
    color: #00CAF2;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .primary-button-activated {
    background-color: rgba(0, 181, 167, 0.6);
    color: #fff;
    border-radius: 1px;
    transition: .3s;
  }

  .primary-button-activated:hover {
    background-color: #0A828B;
  }

  .primary-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 1px;
    transition: .3s;
  }

  .primary-button:hover {
    background-color: rgba(0, 181, 167, 0.3);
  }

  .sticky, .stickyPlant {
    transition: all .5s ease-in-out;
}

.upper__date-filters > *{
    margin: 0 4px;
}

.upper__title h2::first-letter{
    text-transform: uppercase;
}

.upper__title .icon-factories {
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px 0 0;
}

.upper__title {
    display: flex;
}

.plant-line{
    display: flex;
    align-items: center;
    color: #fff;
    h2:nth-child(2){
        color: #00CAF2;
        margin: 6px 0 0 10px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    h2{
        margin: -2px 0 0 0;
    }
    i {
        border: solid #00CAF2;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transition: all .5s ease-in-out;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin: 0 0 5px 0;
      }
      
      .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        margin: 0;
    }
}

.upper__monitor{
    color: #00CAF2;
    cursor: pointer;
    border: solid 2px #00CAF2;
    padding: 10px 20px;
    transition: all .3s ease-in-out;
    text-transform: none;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 13px;
    border-radius: 5px;
    &:hover{
        background-color: rgba(#00CAF2, .3);
        color: #fff;
        box-shadow: 3px 3px 3px rgba(black, .3)
    }
}

.upper__spacer{
    opacity: 0;
    visibility: hidden;
}