<div class="row" style="justify-content: space-between;">

    <div class="col-lg-6">
        <div class="flowOuts dark-box-3">
            <div class="flowOuts__title">
                <h2 translate>Flow Outs and Scrap</h2>
                <span translate>{{flowOutScrapCaption}}</span>
            </div>
                <div id="divFlowOutsScrap" class="columnChart" ></div>
        </div>
    </div>
    
    <div class="col-lg-6">
        <div class="contentionsGraphs dark-box-3">
            <div class="contentionsGraphs__title">
                <h2 translate>Contentions</h2>
                <span translate>{{contentionsCaption}}</span>
            </div>
                <div id="divContentions" class="columnChart" ></div>
        </div>
    </div>
    
    </div>
    
    <div class="row center-row">
        <div class="col-lg-12">
            <div class="hbhTop5 dark-box-3">
                <h2 translate>Top 5 Defects</h2>
                <span translate>{{defectsTop5Caption}}</span>
                    <div id="columChart" class="columnChart" ></div>
            </div>
        </div>
    </div>