@import '../../../admins.component.scss';

.btn-disabled{
    opacity: 0.3;
}

.formsContainer{
    width: 700px;
}

.hiddenFC{
    right: -700px;
}

th{
    text-align: left !important;
}

.colorGrid{
    width: 110px;
    height: 25px;
    border-radius: 6px;
    border: 2px solid black;
}

.colorDiv{
    width: 60px;
    height: 50px;
    border-radius: 12px;
    margin-left: 15px;
    border: 3px solid black;
}

.newFamilyButton{
    background: #007aff;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    width: 230px;
    height: 40px;
}