
.title{
    margin: 50px 0 0 20px;
    color: white;
    font-size: 25px;
    img{
        margin: 0 10px 0 0;
    }
}


.inputText{
    font-size: 12px;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    color: #fff;
    width: 200px;
}

.inputText::placeholder{
    color: #028eec;
}


.container-ag-Grid{
    margin: 30px 0 0 0px;
    #quickFilter{
        font-size: 12px;
        padding: 5px;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px white;
        color: #fff;
    }

    /deep/#quickFilter::placeholder{
         color: #028eec;
     }

}