.Header {
  background: #323D50;
  user-select: none;
  color: #ffffff;
}

.Menu-Icon {
  margin: 0 30px;
}

.Notification-Wrapper {
  width: 75px;
  height: 50px;
  margin: 0 30px;
  border-left: 1px solid #222A38;
  border-right: 1px solid #222A38;
}

.Notification-Icon {
  color: #647592;
}

.User-Photo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff;
  border: 2px solid #647592;
}

.User-Info {
  font-size: 15px;
  margin-left: 30px;
}
.Left{
  float: left;
}
.Right{
  float: right;
}
#aside{
  position: absolute;
  top: 7%;
  left: 0;
  height: 100vh;
  padding: 0;
  border-right: 1px solid black;
}
.MuiButton-root-01{
  color: #fff !important;
}