$odix-blue: #007AFF;

section#reporteAdministrativo{
	padding: 0 16px 16px 16px;
	margin: 45px 0 0 0;
}

.titleSc{
	text-align: left;
	color:white;
	letter-spacing: 1px;
	h2{
		font-size: 30px;
	}
	span{
		opacity: .5;
		font-size: 16px;
	}
}




.parametrosContainer{
	width: 95%;
	padding: 20px;
	display: flex;
	margin: 23px auto;
    justify-content: space-around;
	select, input{
		color: $odix-blue;
		min-width: 50px;
		letter-spacing: 1px;
		font-size: 14px;
	}
}

.graphContainer{
	padding: 22px;
	margin: 16px 0;
	min-height: 300px;
	.title{
		color: white;
		font-size: 18px;
		letter-spacing: 2px;
		text-shadow: 3px 3px 3px rgba(0,0,0,.4);
		margin: 0;
	  }
	  .grafica{
		  margin: 20px 0;
	  }
}


.divSelect{
	color: #fff;
	font-size: 14px;
	padding: 10px;
	margin: 0 10px;
	span{
		font-size: 15px;
	}
}
.divSelect select{
	margin: 0 0 0 16px;
}


.titleParameter{
	color: #fff;
	float: left;
	font-size: 14px;
}



/deep/.pareto_defectos_soldadura {
    width: 100%;
    height: 50vh;
    // margin: 0 auto;
    // color: red;
}	

/deep/.defectos_cordon {
    width: 100%;
    height: 50vh;
    // margin: 0 auto;
    // color: red;
}	





  /deep/#testAmchart4{
	&-1, &-2{
		width: 100%;
		height: 400px;
		text{
			fill: white;
		}
		g[stroke="#000000"][stroke-opacity="0.15"][fill="none"]{
			stroke: white;
		}
		g[filter^="url"]{
			display: none;
		}
	}
  }

/deep/#search{
	/deep/label{
		background-color: rgba(#007AFF, .2) !important;
	}
}


  /deep/.report-table-container{
		padding: 0 !important;
		width: 100% !important;
		max-width: 100% !important
  }
  /deep/.spacer-1{
	  margin: 0 !important;
  }
  /deep/.dark-box-1{
	  background: none !important;
	  border-radius: 0 !important;
	  box-shadow: none !important;
  }
  /deep/.ui-table-thead{
	/deep/th{
		background-color: black !important;
		padding: 3px !important;
	}
  } 

  /deep/.importXlsxParam2{
	  position: absolute !important;
	  top: 0px !important;
		right: 32px !important;
		z-index: 99;
	  /deep/.imgXLXS{
		  position: static !important;
	  }
	  /deep/.excel-download{
		  position: static !important;
	  }
  }

  /deep/.ui-table-wrapper{
	  max-width: 100% !important;
	  width: 97% !important;
	  margin: 20px auto !important;
	  /deep/tr:nth-child(even){
		background-color: rgba(40, 76, 251, 0.1) !important;
		}
		/deep/tr:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover{
		background-color: rgba(40, 76, 251, 0.3) !important;
		}
  }

  /deep/.ui-widget-header{
	width: 98% !important;
	margin: 0 auto !important;
	position: relative;
  }

  /deep/#ctn{
		position: relative !important;
		width: 100% !important;
	}
	
	/deep/.quickReport{
		// /deep/.ui-table-caption{
		// 	display: none !important;
		// }
		// /deep/p-paginator, /deep/p-sorticon{
		// 	display: none !important;
		// }
		/deep/.ui-paginator-bottom.ui-paginator.ui-widget.ui-widget-header.ui-unselectable-text.ui-helper-clearfix{
			display: none;
		}
		/deep/.ui-table{
			/deep/.ui-table-wrapper{
				margin: 60px 20px 20px 20px !important;
			}
		}
	}
	#testAmchart4-2{
		width: 100%;
		height: 400px;
		max-width: 100%;
		min-width: 100%;
	}