@import 'admin-variables';

.formsContainer{
    width: $formsContainerWidth;
    height: 100vh;
    padding: 50px 100px 70px 70px;
    color: $light;
    background-color: $terciary-black;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: -3px 0px 3px rgba(black, .4);
    overflow-y: scroll;
    transition: all .5s ease-in-out;

    &__title{
        margin: 0 0 50px 0;
        font-size: 21px;
        font-weight: 500;
        letter-spacing: 1px
    }

    &__forms{
        display: flex;
        flex-direction: column;
        min-height: 50px;
        justify-content: space-between;
        input, select{
            @include inputStyle1();
        }
        & > *{
            position: relative;
            &:not(:first-child){
                margin: 45px 0 0 0;
            }
        }
        .search{
            &::before{
                @include beforeForms('Buscar');
            }
        }
        .mail{
            &::before{
                @include beforeForms('Correo');
            }
        }
        .tadi{
            &::before{
                @include beforeForms('Tadi');
            }
        }
        .issue{
            &::before{
                @include beforeForms('Tipo de Issue');
            }
        }
        .area{
            &::before{
                @include beforeForms('Área');
            }
        }
        .regla{
            &::before{
                @include beforeForms('Regla de escalamiento');
            }
        }
        .speed{
            &::before{
                @include beforeForms('Velocidad');
            }
        }
        .jobNumber{
            &::before{
                @include beforeForms('Job Number');
            }
        }
        .ppg{
            &::before{
                @include beforeForms('Piezas por golpe');
            }
        }
        .cantOperaciones{
            &::before{
                @include beforeForms('Cantidad de Operaciones');
            }
        }
        .prensa{
            &::before{
                @include beforeForms('Prensa');
            }
        }
        .type{
            &::before{
                @include beforeForms('Tipo');
            }
        }
        .noRollos{
            &::before{
                @include beforeForms('No. Rollo');
            }
        }
        .usuario{
            &::before{
                @include beforeForms('Usuario');
            }   
        }
        .planta{
            &::before{
                @include beforeForms('Planta');
            }   
        }
        .linea{
            &::before{
                @include beforeForms('Linea');
            }   
        }
        .enn{
            &::before{
                @include beforeForms('ENN');
            }   
        }
        .estacion{
            &::before{
                @include beforeForms('Estación');
            }   
        }
        .posicion{
            &::before{
                @include beforeForms('Posición');
            }   
        }
        .pais{
            &::before{
                @include beforeForms('Pais');
            }   
        }
        .userName{
            &::before{
                @include beforeForms('Nombre');
            }
        }
        .birth{
            &::before{
                @include beforeForms('Fecha de nacimiento');
            }
        }
        .cordinator{
            &::before{
                @include beforeForms('Coordinador');
            }
        }
        .position{
            &::before{
                @include beforeForms('Posición');
            }
        }
        .location{
            &::before{
                @include beforeForms('Localización');
            }
        }
        .password{
            position: relative;
            .far{
                position: absolute;
                top: 7px;
                left: 100px;
                font-size: 20px;
                opacity: .5;
                transition: all .3s ease-in-out;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
            &::before{
                @include beforeForms('Contraseña');
            }
        }
        .downsideArrow{
            position: absolute;
            right: 15px;
            top: 14px;
            transform: rotate(0);
            transition: all .3s ease-in-out;
        }
        .radioButtons{
            display: flex;
            flex-direction: column;
            .radioOption{
                display: flex;
                justify-content: start;
                font-size: 14px;
                letter-spacing: 1px;
                align-items: center;
                input{
                    min-width: 0;
                    width: auto;
                }
                &:not(:first-child){
                    margin: 5px 0 0 0;
                }
                span{
                    margin: 0 0 0 10px;
                }
            }
        }
        .odix-form{
            h5{
                position: absolute;
                top: -26px;
                left: -5px;
                font-size: 14px;
            }
        }
    }

    hr{
        margin: 30px 0;
        border-top: 1px solid $light;
        opacity: .2;
    }

    &__actions{
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            @include buttonStyle1();
            &:not(:first-child){
                margin: 0 0 0 20px;
            }
        }
        .disabled{
            opacity: .5;
            pointer-events: none;
        }
        .active{
            background: $odix-blue1;
            border: none;
            opacity: 1;
            pointer-events: all;
        }
    }
}
.hiddenFC{
    right: -$formsContainerWidth;
}

//Componente Tabla Autocomplete
.tableAutoComplete{
    background-color: rgba(#2f2f2f, .95);
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 3px 3px rgba(black, .4);
    width: 100%;
    max-height: 450px;
    height: auto;
    overflow-y: scroll;
    color: $light;
    position: absolute;
    top: 33px;
    left: 0;
    font-size: 11px;
    z-index: 999;
    padding: 5px;
    cursor: pointer;
    table{
        width: 100%;
        tr{
            transition: all .3s ease-in-out;
            border-bottom: solid .1px rgba(black,.3);
           &:hover{
               background-color: rgba($odix-blue1, .4)
           } 
        }
        th{
            font-weight: 400;
        }
        td{
            font-weight: 800;
            margin: 5px 0;
            padding: 15px 2px;
        }
    }
}