@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.login-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-light {
  background-color: transparent !important;
}

.odix-logo {
  background-image: url(../../assets/images/home/odix-logo.svg);
  width: 225px;
  height: 100px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-top: 25px;
}

.form-group input:not([type='checkbox']) {
  background: transparent;
  border: none;
  width: 50%;
  border-bottom: 1px solid #a2a2a2;
  margin: auto;
  min-width: 330px;
  margin-bottom: 25px;
  padding-left: 40px;
  border-radius: 0px;
}

h1 {
  letter-spacing: 2px;
  font-weight: 300;
}

*:focus,
*:active {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}




.login-actions button.btn {
  border-radius: 5px;
  width: 60px !important;
  font-weight: 400;
  border: none;
  background: rgba(55, 133, 202, 1);
  background: -moz-linear-gradient(left, rgba(55, 133, 202, 1) 0%, rgba(55, 133, 202, 1) 23%, rgba(102, 220, 211, 1) 82%, rgba(102, 220, 211, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(55, 133, 202, 1)), color-stop(23%, rgba(55, 133, 202, 1)), color-stop(82%, rgba(102, 220, 211, 1)), color-stop(100%, rgba(102, 220, 211, 1)));
  background: -webkit-linear-gradient(left, rgba(55, 133, 202, 1) 0%, rgba(55, 133, 202, 1) 23%, rgba(102, 220, 211, 1) 82%, rgba(102, 220, 211, 1) 100%);
  background: -o-linear-gradient(left, rgba(55, 133, 202, 1) 0%, rgba(55, 133, 202, 1) 23%, rgba(102, 220, 211, 1) 82%, rgba(102, 220, 211, 1) 100%);
  background: -ms-linear-gradient(left, rgba(55, 133, 202, 1) 0%, rgba(55, 133, 202, 1) 23%, rgba(102, 220, 211, 1) 82%, rgba(102, 220, 211, 1) 100%);
  background: linear-gradient(to right, rgba(55, 133, 202, 1) 0%, rgba(55, 133, 202, 1) 23%, rgba(102, 220, 211, 1) 82%, rgba(102, 220, 211, 1) 100%);
}

.login-actions button.btn span {
  color: white !important;
}

.login-actions {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.d-block {
  position: relative;
  margin-top: 20px;
  display: none;
}

.input-decorator {
  top: -1px;
  left: 8px;
  width: 15PX;
  position: absolute;
}

.form-control,
.login-box,
input,
label,
span,
input::placeholder {
  color: #d6d6d6 !important;
  letter-spacing: 1.5px;
}


.login-box {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(black, .7);
  color: white;
  -webkit-box-shadow: 15px 3px 34px -15px rgba(0, 0, 0, 1);
  -moz-box-shadow: 15px 3px 34px -15px rgba(0, 0, 0, 1);
  box-shadow: 15px 3px 34px -15px rgba(0, 0, 0, 1);
  z-index: 10;
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}


.login-bg {
    width: 110vw; 
    height: 110vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/deep/.card-body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 690px;
  zoom: 110%;
  h1{
    text-align: center;
  }
}