<div class="admins-workspace__regionTitle">
    <h1>Quality Gate Monitor</h1>
</div>
<div class="admins-workspace__addLevel">
    <button (click)="saveChanges()">
        <img src="assets/images/admins/check.svg" alt="" > &nbsp;<span translate>Guardar Cambios</span>
    </button>
</div>

<div class="admins-workspace__container">
    <div class="admins-workspace__container--title metsTitle">
        <span translate>Edit View</span>
        <div class="dropdowns">
            <div class="dropdown__container">
                <select (change)="refreshInspectionPointFamilies()" [(ngModel)]="selectedLine" class="odix-dropdown">
                    <option value="undefined" disabled selected hidden translate>Linea</option>
                    <option *ngFor="let line of lines" [ngValue]="line"> {{line.Text}} </option>
                </select>
                <img alt="" class="downsideArrow" src="assets/images/admins/arrow.svg">
            </div>
            <div class="dropdown__container">
                <select [(ngModel)]="selectedInspectionType" class="odix-dropdown">
                    <option value="undefined" disabled selected hidden translate>Family</option>
                    <option *ngFor="let type of filterInspectionTypesByLine()" [ngValue]="type"> {{type.Text}} </option>
                </select>
                <img alt="" class="downsideArrow" src="assets/images/admins/arrow.svg">
            </div>
        </div>
    </div>
    <div class="admins-workspace__container--vista" (click)="assignCoordinate($event)" #myBounds>
        <div id="Button_{{button.ID}}" [class.activeButton]="button.Active" *ngFor="let button of Buttons" [style.background]="button.BackgroundColor" [style.color]="button.ForeColor" (click)="selectItem(button)" [position]="button.Coordinates" [ngDraggable]="true" class="example-box"  [bounds]="myBounds" [inBounds]="inBounds" (movingOffset)="onMoving($event,button)" (stopped)="onMoveEnd($event,button)">
            {{button.Number}}
        </div>
        <div id="Point_{{point.ID}}" class="point" *ngFor="let point of Points">
        
        </div>
        <img class="imgVista" [src]="moduleJSON?.imagePath">  
    </div>
    <div class="admins-workspace__container--vistaPropiedades2">
        <div class="items">
            <h3 translate>Items</h3>
            <div class="items__search">
                <img src="assets/images/admins/search.svg" alt="">
                <input type="text" name="" [(ngModel)]="searchText" placeholder="{{'Search Item' | translate}}">
            </div>
            <div class="items__points">
                <div class="items__points--container" *ngFor="let item of filterItemsByLineAndInspectionType() | filter : searchText">
                    <mat-checkbox (change)="inspectionPointsToBeAddedSelectionChange()" [(ngModel)]="item.Checked"></mat-checkbox>
                    <div class="itemLegend">
                        <span class="name">{{item.Number}}</span>
                        <span class="desc">{{item.Description}}</span>
                    </div>
                </div>
            </div>
            <button [disabled]="isAddInspectionPointsButtonDisabled" (click)="addButtonsToCanvas()" translate>Add</button>
        </div>
        <div class="items">
            <h3 translate>Current Items</h3>
            <div class="items__points">
                <div class="items__points--container" *ngFor="let button of Buttons">
                    <mat-checkbox (change)="inspectionPointsToBeRemovedSelectionChange($event,button)"></mat-checkbox>
                    <div class="itemLegend">
                        <span class="name">{{button.Number}}</span>
                        <span class="desc">{{button.Description}}</span>
                    </div>
                </div>
            </div>
            <button class="remove" [disabled]="isRemoveInspectionPointsButtonDisabled" (click)="removeButtonsFromCanvas()" translate>Remove</button>
        </div>
    </div> 

    <div class="asignacipnContainer">
        <button class="habilitar" [ngClass]="{'habilitarActive': habilitarButton}" [disabled]="chosenButton == undefined" (click)="enableCoordinateToButton()" translate>Enable Line Assignment</button>
        <div class="clickAlert" [ngClass]="{'clickAlertShown': isAssignCoordinateEnabled}">
            <span translate>Next click will assign coordinate</span>
        </div>
        <div class="clickAlert" [ngClass]="{'clickAlertShown': isLineDuplicated}">
            <span translate>Button already has a line assigned</span>
        </div>
    </div>
</div>

<section class="alert" [ngClass]="{'alertShown': successAlert}">
    <div class="alert__container">
        <img src="assets/images/admins/green-check.svg" alt="">
        <span class="name">{{moduleJSON?.name}}</span>
        <span translate>Changes saved successfully</span>
    </div>
</section>

<section class="alert alertShown" [ngClass]="{'alertShown': errorAlert}">
    <div class="alert__container">
        <img src="assets/images/admins/danger.svg" alt="">
        <span translate>ERROR</span>
        <span class="error" translate>An error occurred while saving the changes</span>
        <button (click)="closeErrorAlert()" translate>Accept</button>
    </div>
</section>