//VARIABLES
$primary-teal: #00C9F1;
$primary-black: #12161F;
$primary-blue: #007AFF;
$primary-white: #e8e8e8;

    $status-green:#55D614;
    $status-yellow: #FFB903;
    $status-orange: #FF680A;
    $status-red: #FF4954;

$secondary-black: #232329;
$secondary-grey: #25272E;

$background: #101015;

$borderRight: solid .5px rgba($primary-white,.5);


@mixin positionAbsoLeft($top, $left){
    position: absolute;
    top: $top;
    left: $left;
}

@mixin positionAbsoRight($top, $right){
    position: absolute;
    top: $top;
    right: $right;
}

.mttr-container{
    background-color: $background;
    width: 100%;
    padding: 26px 0 0 0;
    min-height: 100vh;
}

main{
    padding: 5px 25px;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    color: $primary-white;
}
h2{
    font-size: 25px;
    letter-spacing: 4px;
}
h3{
    font-size: 20px;
}

h4{
    font-size: 17px;
}

.header-activo{
    width: 100%;
    background-color: rgba($background,.95);
    padding: 5px 70px 0 40px;
    position: fixed;
    top: 41px;
    left: 0;
    z-index: 2;
    box-shadow: 3px 3px 3px rgba($background,.9);
}

.breadcrumby{
    font-size: 16px;
    font-weight: 300;
}

.infoPress{
    display: flex;
    transition: all .3s ease-in-out;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    & > *:not(:first-child) {
        margin: 0 5px;
    }
    .eqes{
        display: flex;
        align-items: center;
    }
    .dpto{
        display: flex;
        align-items: center;
        &:nth-child(1){
            div{
                background-color: #234BFF;
            }
        }
        &:nth-child(2){
            div{
                background-color: #B92638;
            }
        }
        &:nth-child(3){
            div{
                background-color: #26A808;
            }
        }
        &:nth-child(4){
            div{
                background-color: #CF6000;
            }
        }
        &:nth-child(5){
            div{
                background-color: #EEEEEE;
            }
        }
        div{
            width: 13px;
            height: 13px;
            border-radius: 20px;
            margin: 0 5px 0 0;
        }
    }
}

header{
    display: flex;
    justify-content: space-between;
    color: white;
    flex-direction: column;
    width: 98%;
    background-color: $background;
    transition: all .3s ease-in-out;
    .title-parameters{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dateButtons{
            margin: 0 0 0 20px;
        }
    }
    .infoPress{
        display: flex;
        transition: all .3s ease-in-out;
        align-items: center;
        justify-content: space-between;
        width: 45%;
        & > *:not(:first-child) {
            margin: 0 5px;
        }
        .eqes{
            display: flex;
            align-items: center;
        }
        .dpto{
            display: flex;
            align-items: center;
            &:nth-child(1){
                div{
                    background-color: #234BFF;
                }
            }
            &:nth-child(2){
                div{
                    background-color: #B92638;
                }
            }
            &:nth-child(3){
                div{
                    background-color: #26A808;
                }
            }
            &:nth-child(4){
                div{
                    background-color: #CF6000;
                }
            }
            &:nth-child(5){
                div{
                    background-color: #EEEEEE;
                }
            }
            div{
                width: 13px;
                height: 13px;
                border-radius: 20px;
                margin: 0 5px 0 0;
            }
        }
    }
    & > *{
        margin: 10px 0;
    }
}

.lineGraph{
    background-color: $secondary-grey;
    border-radius: 5px;
    padding: 16px;
    margin: 20px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: all .3s ease-in-out;
    &::-webkit-scrollbar {
        width: 3px;
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
        transition: all .3s ease-in-out;
        border-radius: 5px;
        &:hover{
            background: rgba($primary-blue,.5); 
        }
    }
    &:hover{
        &::-webkit-scrollbar-thumb{
            background: rgba($primary-blue,.5);
        }
    }
    .processDisplay{
        margin: 20px 0;
        .graphContainer{
            border-radius: 5px;
            background-color: $background;
            min-height: 320px;
            padding: 1px;
        }
        h3{
            margin: 22px 0;
        }
    }
    .long-chart{
        width: 200% !important;
    }
    h4{
        font-size: 15px;
    }
}

.lg2{
    height: 215px;
}

.mtt-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    .leftColumn{
        width: 67%;
        .lineGraph{
            height: 319px;
            &:not(:first-child){
                height: 288px;
            }
            .combates{
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 62%;
                transform: translate(0px, 11px);
                .combate{
                    display: flex;
                    align-items: center;
                    position: relative;
                    input{
                        margin: 0 5px 0 0;
                    }
                    .txt{
                        margin: 0 0 0 25px;
                    }
                }
            }
        }
    }
    .rightColumn{
        width: 31%;
        .lg2{
            position: relative;
            span{
                position: absolute;
                right: 10px;
                &:nth-child(2){
                    top: 4px;
                    font-size: 16px;
                    color: $primary-white;
                }
                &:nth-child(3){
                    top: 23px;
                    font-size: 18px;
                    color: $primary-blue;
                    font-weight: bold;
                }
            }
        }
    }
}

#mtta, #mttr, #mtbf{
    width: 103%;
    height: 280px;
    margin: 20px -20px;
}

#mtti{
    width: 100%;
    height: 224px;
    margin: 7px -23px;
}
#mttrFail{
    width: 111%;
    height: 183px;
    margin: 7px -24px;
}

#mttrTool{
    width: 111%;
    height: 172px;
    margin: 7px -24px;
}

#mtbfFail{
    width: 110%;
    height: 180px;
    margin: 7px -24px;
}

//COMPONENTS
.dateButtons{
    display: flex;
    justify-content: space-between;
    max-width: 69%;
    align-items: center;
    font-size: 14px;
    button{
        margin: 0 10px 0 0;
        font-size: 12.5px;
    }
    .prensa{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__select{
            position: relative;
            margin: 0 0 0 10px;
        }
        .arrow-down {
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid white;
            position: absolute;
            top: 12px;
            right: 7px;
            pointer-events: none;
          }
    }
    .calendar{
        display: flex;
        justify-content: space-around;
        min-width: 300px;
        position: relative;
        align-items: center;
        input{
            border: none;
            background-color: rgba(white,.1);
            border-radius: 4px;
            padding: 3px 7px;
            color: white;
            transition: all .3s ease-in-out;
            &::placeholder{
                font-size: 14px;
            }
        }
        img{
            position: absolute;
            top: 5px;
            right: 16px;
        }
        .input-active{
            background-color: rgba(#007AFF, .6);
            border: solid 1px #007AFF;
            box-shadow: 0px 0px 10px rgba(#007AFF, .9);
        }
    }
    select{
       border: none;
       padding: 3px 24px 3px 7px;
       background-color: rgba(white,.1);
       border-radius: 4px;
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
}

.odix-button{
    background-color: rgba(#007AFF, .1);
    padding: 3px 10px;
    min-width: 100px;
    color: rgba(#fff,.5);
    border: solid 1px rgba(#007AFF, .5);
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    letter-spacing: 2px;
    font-size: 11px;
    &:hover{
        background-color: rgba(#007AFF, .6);
        border: solid 1px #007AFF;
        box-shadow: 0px 0px 10px rgba(#007AFF, .9);
        color: #fff;
    }
    &-active{
        background-color: rgba(#007AFF, .6);
        border: solid 1px #007AFF;
        box-shadow: 0px 0px 10px rgba(#007AFF, .9);
        color: #fff;
    }
}
.active{
    background-color: rgba(#007AFF, .6);
    border: solid 1px #007AFF;
    transition: all .3s ease-in-out;
    color: #fff;
}

.tablaCombates{
    color: $primary-white;
    width: 100%;
    text-align: center;
    font-size: 16px;
    &__titles{
        td{
            font-size: 16px;
            border-right: $borderRight;
            &:nth-child(1){
                font-size: 18px;
                font-weight: bold;
                text-align: left;
                border: none;
            }
        }
    }
    &__statusTitle{
        font-size: 12px;
        color: rgba($primary-white,.5);
        td{
            table{
                tr{
                    td:last-child{
                        border-right: $borderRight;
                    }
                }
            }
        }
    }
    table{
        width: 100%;
        text-align: center;
        tr{
            td{
                min-width: 60px;
                padding: 10px 0;
                border-radius: 5px;
            }
        }
    }
    &__info{
        td{
            &:nth-child(1){
                text-align: center;
            }
        } 
        &--resultados{
            td:last-child{
                border-right: $borderRight;
            }
        }
        .dpto{
            text-align: left !important;
        }
    }
    .uneven{
        background-color: rgba(26,26,26,0.5);
        border-radius: 5px 0 0 5px;
    }
}

//CHECKMARKS!
input[type="checkbox"]{
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    transition: all .2s ease-in-out;
    z-index: 1;
    &:checked ~ .checkmark{
        background-color: $primary-blue;
        &:after{
            display: block;
        }
    }
    &:hover ~ .checkmark{
        box-shadow: 2px 2px 3px rgba($primary-black,.7);
    }
}
.checkmark {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    background-color: rgba($primary-blue,.1);
    border: solid 1px $primary-blue;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    &:after{
        content: "";
        position: absolute;
        display: none;
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg) scale(1.3);
    }
  }

/deep/.tooltipF{
    color: black;
    background-color: rgba(white,.8);
    padding: 7px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
}

//HIDES AMCHARTS4 ADVERTISING
/deep/g[aria-labelledby^="id"]{
    display: none;
}
/deep/g[filter^="url"]{
    fill: rgba($background,.9);
    stroke-width: .5px;
    stroke-opacity: .5;
    //display: none;
}
/deep/g[stroke="#000000"]{
    stroke: white;
}
/deep/tspan{
    fill: white;
}
/deep/g[fill="#ffc326"]{
    tspan{
        fill: #ffc326;
    }
}
/deep/g[focusable="true"][opacity="1"]{
    display: none;
}
/deep/g[transform*="rotate(90)"]{
    tspan{
        fill: #ffc326;
    }
}

.marginTop{
    margin: 200px 0 0 0;
}

/deep/svg /deep/g[role="tooltip"]{
    fill: rgba($background,.9);
    stroke: white;
    border-radius: 10px;
}


.m10{
    margin: 10px 0;
}

/deep/#mttrTool{
    /deep/svg{
        /deep/g[role="region"]{
            /deep/g[transform="translate(0,63)"]{
                display: none;
            }
            /deep/g[transform="translate(56,0)"]{
                /deep/g[transform="translate(0,45)"]{
                    transform: translate(-20px,45px);
                    display: none;
                }
            }
        }
        /deep/g[stroke="#ffc326"]{
            /deep/tspan{
                fill: #ffc326;
                stroke: none;
            }
        }
    }
}

.sliders{
    width: 200px;
    position: absolute;
    top: 0px;
    right: -20px;

}

//SLIDER
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: $primary-blue;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    @include positionAbsoRight(17px, 53px);
    font-size: 10px;
    &:hover{
        opacity: 1;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 20px;
        background: $primary-white;
        cursor: pointer;
      }
    &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    }
  }
  .s2{
    top: 37px;
}
.s1{
    &::before{
        white-space:pre;
        text-align: center;
        @include positionAbsoLeft(-8px, -38px);
    }
    &::after{
        white-space:pre;
        text-align: center;
        @include positionAbsoRight(13px, -38px);
    }
}
.beforeSlider{
    white-space:pre;
    text-align: center;
    @include positionAbsoRight(31px, 22px);
}

.afterSlider{
    white-space:pre;
    text-align: center;
    @include positionAbsoLeft(10px, -85px);
}
//LOADER
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(#000, .79);
    height: 100vh;
    z-index: 10000;
    overflow: hidden;
}

//CALENDAR
    /deep/.bs-datepicker{
        transform: translate(86px, 0) !important;
    }

@import 'app/bloomberg/performance-rate/loader.scss';
