.alertify-show, .alertify-log {
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.alertify-hide {
    -moz-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s;
}
.alertify-cover {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}
.alertify {
left: 80%;
    margin-left: 90px;
    position: fixed;
    top: 50px;
    width: 250px;
    z-index: 99999;
}
.alertify-hidden {
    top: -50px;
    visibility: hidden;
}
.alertify-logs {
    bottom: 10px;
    position: fixed;
    right: 10px;
    width: 300px;
    z-index: 5000;
}
.alertify-log {
    display: block;
    margin-top: 10px;
    position: relative;
    right: -300px;
}
.alertify-log-show {
    right: 0;
}
.alertify-dialog {
    padding: 25px;
}
.alertify-resetFocus {
    border: 0 none;
    clip: rect(0pt, 0pt, 0pt, 0pt);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.alertify-inner {
    text-align: center;
}
.alertify-text {
    -moz-box-sizing: border-box;
    font-size: 100%;
    margin-bottom: 15px;
    width: 100%;
}
.alertify-buttons {
}
.alertify-button {
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    line-height: 1.5;
    margin-left: 5px;
}
.alertify, .alertify-logs {
    -moz-box-sizing: border-box;
    width: 50%;
}
.alertify {
    left: 25%;
    margin: 0;
}
