<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory> 
    
    
    
     <property name="hibernate.connection.datasource">jdbc/ASISTEN</property>
     <property name="hibernate.default_schema">CU_CONSULTAE</property>
     <property name="show_sql">true</property>
     <property name="hibernate-dialect">org.hibernate.dialect.Oracle10gDialect</property>
     <property name="hibernate.current_session_context_class">thread</property>
     <property name="show_sql">true</property> 

<mapping class="com.iusa.clases.models.Vacante"/>
<mapping class="iusacell.red_profesional.admins.form.vacantepredeform"/>
<mapping class="com.iusa.clases.models.Admin" />
<mapping class="com.iusa.clases.models.SubidoPor"/>
<mapping class="com.iusa.clases.models.TagsVacante"/>
<mapping class="com.iusa.clases.models.TipoVacanteMedio"/>
<mapping class="com.iusa.clases.models.Tips"/>
<mapping class="com.iusa.clases.models.Postulaciones"/>
<mapping class="com.iusa.clases.models.PrimerFiltro"/>
<mapping class="com.iusa.clases.models.MiFiltro"/>
<mapping class="com.iusa.clases.models.CalificacionAux"/>
<mapping class="com.iusa.clases.models.FilesExcel"/>
<mapping class="com.iusa.clases.models.MiNuevoFiltro"/>
<mapping class="com.iusa.clases.models.ClusterUbicacionModel"/>
<mapping class="com.iusa.clases.models.ClusterModel"/>

</session-factory>
</hibernate-configuration>