.alertify, .alertify-log {
    font-family: sans-serif;
}
.alertify {
    background: none repeat scroll 0 0 padding-box #FFFFFF;
    border: 10px solid rgba(0, 0, 0, 0.7);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.alertify-text {
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
}
.alertify-button {
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
    color: #FFFFFF;
    font-weight: bold;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.alertify-button:hover, .alertify-button:focus {
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.1), transparent);
    box-shadow: 0 0 15px #2B72D5;
    outline: medium none;
}
.alertify-button:active {
    position: relative;
    top: 1px;
}
.alertify-button-cancel {
    background-color: #FE1A00;
    border: 1px solid #D83526;
}
.alertify-button-ok {
    background-color: #5CB811;
    border: 1px solid #3B7808;
}
.alertify-log {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    padding: 15px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
.alertify-log-error {
    background: none repeat scroll 0 0 rgba(254, 26, 0, 0.9);
}
.alertify-log-success {
    background: none repeat scroll 0 0 rgba(92, 184, 17, 0.9);
}
