<div class="upper">
    <div class="upper__title">
    </div>
  </div>


  <div class="map-container">
      <div class="map-container__title">
          <h2> <span class="icon-world"></span> Worldwide Overview </h2>
          <span>Select a country</span>
      </div>
      <div id="chartdiv" style="height: 500px; width: 100%;"></div>


  </div>
<!--

Final

-->
<!-- <div class="row">
  <section class="col-lg-12 connectedSortable" style="padding-right: 0px;">
    <div class="box box-solid bg-light-blue-gradient">
      <div class="box-header">

        <i class="fa fa-map-marker" id="edgar"></i>

        <h3 class="box-title">
          Worldwide Plants
        </h3>
      </div>
      <div class="box-body">
        <div id="chartdiv" style="height: 600px; width: 100%;"></div>
    
      </div>
    </div>
  </section>
</div> -->

