.titleSlowestCycles{
	text-align: left;
	color:white;
	padding: 16px 0;
    letter-spacing: 1px;
    margin: 30px 0 0 20px;
	h2{
		font-size: 30px;
	}
	span{
		opacity: .5;
		font-size: 16px;
	}
}

.slowestCyclesData{
    padding: 20px;
    max-width: 80vw;   
    display: flex;
    margin: 0 0 0 20px;
}
