.upper-nav {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#14181E), to(#2D3035));
  background: -webkit-linear-gradient(left, #14181E, #2D3035);
  background: -o-linear-gradient(left, #14181E, #2D3035);
  background: linear-gradient(to right, #14181E, #2D3035); }
