@font-face {
    font-family: 'icomoon';
    src:  url('../icon-font/icomoon.eot?g1yy81');
    src:  url('../icon-font/icomoon.eot?g1yy81#iefix') format('embedded-opentype'),
      url('../icon-font/icomoon.ttf?g1yy81') format('truetype'),
      url('../icon-font/icomoon.woff?g1yy81') format('woff'),
      url('../icon-font/icomoon.svg?g1yy81#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-world:before {
    content: "\e900";
    color: #fff;
  }
  .icon-forward:before {
    content: "\e901";
    color: #fff;
  }
  .icon-back:before {
    content: "\e902";
    color: #fff;
  }
  .icon-user:before {
    content: "\e903";
    color: #fff;
  }
  .icon-settings:before {
    content: "\e904";
    color: #fff;
  }
  .icon-message:before {
    content: "\e905";
  }
  .icon-oee:before {
    content: "\e906";
    color: #fff;
  }
  .icon-roll-former:before {
    content: "\e907";
    color: #fff;
  }
  .icon-assembly:before {
    content: "\e908";
    color: #fff;
  }
  .icon-press:before {
    content: "\e909";
    color: #fff;
  }
  .icon-factories:before {
    content: "\e90a";
    color: #fff;
  }
  .icon-home:before {
    content: "\e90b";
    color: #fff;
  }
  