/deep/slider-nav{
    position: absolute;
    top: 0;
    left: 0;
}

#sliderParent{
    opacity: 0;
}

.line-nav{
    position: absolute;
    top: 66px;
    left: 150px;
    z-index: 999;
    border-radius: 0;
    padding: 10px 10px 20px 30px;
    width: 470px;

    .slider{
        display: flex;
        overflow-x: auto;
        -ms-overflow-style: none;  // IE 10+
        overflow: -moz-scrollbars-none;  // Firefox
        &::-webkit-scrollbar{
            display: none;  // Safari and Chrome
        }
        .slide{
            &:nth-child(2){
                margin: 0 0 0 120px;
                width: auto;
            }
            h3{
                font-weight: bold;
                text-transform: none;
                letter-spacing: 1px;
            }
            &__lines{
                margin: 10px 0 0 0;
                width: auto;
                min-width: 420px;
                display: flex;
                flex-wrap: wrap;
                span{
                    letter-spacing: 1px;
                    margin: 0 16px 10px 0;
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                    &:first-child{
                        margin: 0 16px 0 0;
                    }
                &:hover{
                    color: #00CAF2;
                    }
                }
            }
        }
    }

    i {
        border: solid #fff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transition: all .3s ease-in-out;
      }
      
      .arrow-right {
          border-radius: 40px;
          padding: 10px;
          width: 10px;
          height: 10px;
          right: 10px;
          position: absolute;
          top: 42px;
          cursor: pointer;
          .arrow{
          position: absolute;
          transform: translate(-50%, -50%) rotate(-45deg);
          -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:hover{
            .arrow{ 
            border-color: #00CAF2;
            }
        }   
      }
      
      .arrow-left {
        border-radius: 40px;
        padding: 10px;
        width: 10px;
        height: 10px;
        left: 4px;
        position: absolute;
        top: 42px;
        cursor: pointer;
        .arrow{
          position: absolute;
          transform: translate(-50%, -50%) rotate(135deg);
          -webkit-transform: translate(-50%, -50%) rotate(135deg);
        }
        &:hover{
            .arrow{ 
            border-color: #00CAF2;
            }
        }
      }

}

.fadeInDown{
    opacity: 1 !important;
}