*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;}

*:focus{
    outline: 0;}

html{ 
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    background: #000;}
    

body{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    }

a{
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    &:hover{
        text-decoration: none;}}

select{
    appearance: none;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    border-bottom: solid .5px #fff;
    position: relative;
    text-align: center;
    &[option]{
        text-align: center;}
    &::after{ 
        content: '\25BC';
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;}}

.pushable{
    margin-left: 245px;}
#basicContainer{
    transition: all .5s ease;}

    option{
        background-color: #161722;
        border: none;} 

.form-control::placeholder {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}


@media only screen and (max-width: 1250px) {
    body {
        font-size: 100%;
    }

    #sidebar ul li a {
        font-size: 19px !important;
    }

}