.map-plant{
    &__isometric{
        &--line-1{
            position: absolute;
            top: 149px;
            left: 110px;}
        &--mid-frame{
            position: absolute;
            top: 114px;
            left: 569px;}}}

[title=""]{
    background-color: transparent;}
