.upper{
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-top: 50px;

    &__title{
        color: #fff;
        padding: 0 30px;
        letter-spacing: 1px;
        h2{
            span{
                opacity: 1;
                font-size: 20px;
                font-weight: bold;
                }}
        span{
            opacity: .5;
            font-size: 14px;
            font-weight: 100;}}

    &__date-filters{
        .btn{
            font-size: 14px;
            font-weight: 100;
            padding: 8px 18px;}}
        
    &__general-filters{
        margin-left: auto;
        color: #fff;
        font-size: 13px;
        padding: 10px 0รง;
        opacity: .8;

        & > *{
            padding: 0px 16px;
            margin: 0 10px;}}}

// BEST PLANT

.best-plant{
    padding: 20px;
    margin-left: 0px;
    display: flex;
    &__left-side{
        max-width: 70%;}
    &__title{
        display: flex;
        color: #fff;
        select{
            margin-left: 16px;}
        &--h-results{
            color: #fff;
            font-weight: 400;
            font-size: 18px;
            padding-bottom: 20px;}}
    &__winner{
        font-size: 16px;
        padding: 5px 0 35px 0;
        color: $color-teal-light;}
    &__honorific{
        width: 100%;
        display: flex;
        color: $color-teal-light;
        text-align: center;
        flex-direction: column;}
    &__results{
        display: flex;
        flex-direction: column;}}
.result{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    span{
        font-size: 12px;
        font-weight: 300;}}

//TOP 3 COUNTRIES

.top-3-country{
    padding: 10px;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    &__title-left{
        span{
            opacity: .5;
            letter-spacing: 1px;
            font-weight: 300;}}
    &__title-right{
        text-align: right;
        & > *{
            margin: 10px 3px;}}
    &__graphic{
        margin-right: 16px;}}

//BEST QUALITY CHASSIS

.best-chassis{
    margin: 30px 0;
    padding: 20px;
    color: #fff;
    display: flex;
    &__left{
        #area-1{
            margin: 20px 0;}
        span{
            font-weight: 300;
            opacity: .5;
            letter-spacing: 1px;}}
    &__right{
        width: 100%;
        text-align: center;
        align-self: center;
        & > *{
            margin: 15px 0;}
        span{
            color: $color-teal-light;}
        button{
            display: block;
            margin: 0 auto;
            font-size: 14px;
            font-weight: 300;
            margin-top: 10px;}}}

//MAP PLANT
.map-plant{
    padding: 20px;
    text-align: center;
    &__title{
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
        margin: 30px 0;
        h1{
            font-weight: 300;
            letter-spacing: 3px;
            font-size: 35px;
            text-shadow: 0 3px 3px rgba(0,0,0,.2);}
        span{
            font-size: 20px;
            opacity: .6;
            text-shadow: 0 3px 3px rgba(0,0,0,.2);}}
    &__isometric{
        position: relative;
        min-height: 40vh;}}

// LINES - GOALS
.goals-stats{
    .dark-box-1{
        margin: 20px 0;}}
.goals{
    padding: 20px;
    &__title{
        display: flex;
        justify-content: space-around;
        color: #fff ;
        &--line{
            font-size: 17px;}
            span{
                font-size: 22px;
                padding: 0 4px;}
        &--filter{
            font-size: 14px;
            font-weight: 300;
            padding: 4px 0;}}
    &__content-container{
        padding: 10px 20px;}
    &__content{
        display: flex;
        padding: 25px 20px 16px 20px;
        color: #fff;
        justify-content: space-between;
        font-size: 14px;
        border-bottom: solid .1px #c5c5c5;
        &:last-child{
            border-bottom: red;}

        &--line{
            display: flex;
            flex-direction: column;
            span{
                font-size: 12px;
                font-weight: 300;
                opacity: .6;}}
        &--goal{
            align-self: center;
            font-size: 13px;
            font-weight: 300;}}}

//LINE DETAIL
.overview{
    max-width: 1000px;
    margin: 20px auto;
    position: relative;

    &__head{
        color: #ffffff;
        padding: 20px 15px;}
    
    &__content{
        padding: 15px 20px;
        display: flex;
        justify-content: space-around;

        &--shift-1, &--shift-2{
            color: white;
            font-weight: bold;
            text-align: center;}
        
        &--isometric-line{
            display: flex;
            flex-direction: column;
            padding: 10px;
            transition: .5s;
            animation-delay: 1s;
            position: relative;
            h2{
                color:#fff;
                text-align: left;}

            a{
                text-decoration: none;
                color: inherit;}

            .img-line{
                position: absolute;
                top: 60px;
                left: 0;
                transition: .5s;}
                

            &--lines{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                min-width: 400px;
                position: relative;
                height: 100%;
                color: #fff;
                font-size: 13px;

                &__previous{
                    display: flex;
                    align-content: center;
                    flex-direction: column;
                    transition: .5s;
                    font-size: 16px;
                    & > *{
                        padding: 3px 0 0 0;}
                    img{
                        margin: 8px 30px;}}
                
                &__next{
                    display: flex;
                    flex-direction: column;
                    transition: .5s;
                    font-size: 16px;
                    & > *{
                        padding: 3px 0 0 0;}
                    img{
                        margin: 8px 30px;}}
                
                &__previous:hover{
                    transform: translateY(-3px);
                    text-shadow: 1px 2px 3px rgba(0,0,0,.1);}
                
                &__next:hover{
                    transform: translateY(-3px);
                    text-shadow: 1px 2px 3px rgba(0,0,0,.1);}

                span{
                    font-weight: bold;
                    color: $color-teal-light;}}}}}
.shift-indicators{
    margin: 20px 0;
    border-collapse: separate;
    border-spacing: 10px;
    color: #fff;

    .tr-head{
        td{
            font-size: 14px;
            color: #fff;}}
    
    .tr-content{
        td{
            font-size: 12px;
            font-weight: 100;}

        .shift-status{
            color: #fff;
            width: 70px;
            padding: 5px 20px;}
        .onDelay{
            background-color: $primary-red;}
        .progress-1{
            background-color: $color-yellow;}
        .onTime{
            background-color: $primary-green;}
        .current-status{
            background-color: $color-teal-light;
            color: #fff;}}}
        
.statistic-container{
    display: flex;
    justify-content: center;}


    .no-data{
        padding: 20px 0;
        text-align: center;
        opacity: .1;
    }

    .no-data p {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        margin: 5px;
      }
