$primary-blue: #007aff;

.wrapper{
    display: flex;
    width: 100%;}

#sidebar{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
    background: rgba(0,0,0,.3);
    color: #fff;
    padding-top: 50px;
    transition: all .6s ease;
    margin-left: 0;}
//SWITCH THESE 2 MARGIN VALUES TO DISPLAY MENU BY DEFAULT OR NOT
#sidebar.active{
    margin-left: -250px;
    opacity: 0;}

a[data-toggle="collapse"]{
    position: relative;}

.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);}


//FOR AUTOMATIC TOGGLE DISPLAY IN PHONES
// @media (max-width: 768px)
//     #sidebar
//         margin-left: -250px
//     #sidebar.active
//         margin-left: 0



a, a:hover, a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;}

#sidebar .sidebar-header{
    padding: 20px;
    background: rgba(0,0,0,.3);
    text-align: center;
    .profile{
        border-radius: 100px;}
    h3{
        padding: 10px 0;}
    p{
        font-size: 14px;}}

#sidebar ul.components{
    padding: 20px 0;
    border-bottom: 1px solid rgba($primary-blue, .2);}

#sidebar ul p{
    color: #fff;
    padding: 10px;}

#sidebar ul li a{
    padding: 13px 10px;
    font-size: 16px !important;
    display: block;
    transition: all 400ms ease;
    background-image: linear-gradient( 90deg, $primary-blue 0%, transparent 50% );
    background-size: 200% 100%;
    background-position: 100% 0;
    letter-spacing: .3px
    }
#sidebar ul li a:hover{
    color: #fff;
    background-position: 0 0;}

#sidebar ul li.active > a, a[aria-expanded="true"]{
    color: #fff;
    background: linear-gradient( 90deg, $primary-blue 0%, transparent 100% );}
ul{
    ul{
        a, a[aria-expanded="true"]{
            font-size: 10px !important;
            padding-left: 45px !important;
            background: rgba($primary-blue,.3);}
        ul{
            li{
                a{
                    padding-left: 45px !important;
                    background: rgba(0,0,0,.2);}}}}}

#sidebar{
    ul{
        li{
            a{
                span{
                    font-size: 20px;
                    padding: 3px 9px;}}}}}

                    
                    #sidebar ul li ul li ul li a {
                        padding-left: 100px !important;
                        background: rgba($primary-blue,.2);
                    }

// MENU ANIMATION

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    &:focus{
        outline: 0;}
    span {
        width: 70%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: $color-teal-dark;
        opacity: .3;
        transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);}
    span:first-of-type{
        /* rotate first one */
        transform: rotate(45deg) translate(2px, 2px);}
    span:nth-of-type(2){
        /* second one is not visible */
        opacity: 0;}
    span:last-of-type{
        /* rotate third one */
        transform: rotate(-45deg) translate(1px, -1px);}}

#sidebarCollapse.active{
    span {
        /* no rotation */
        transform: none;
        /* all bars are visible */
        opacity: 1;
        margin: 5px auto;
        background: white;}}

        .goals__filter span{
            font-size: 16px;
        }

        .goals__title--filter span{
            font-size: 14px !important;
        }
        .status {
            font-size: 14px;
            font-weight: 500;
        }
        @media only screen and (min-width: 1450px) {        
            #sidebar ul li a {
                font-size: 19px !important;
            }

            .goals__title span {
                font-size: 30px;
            }

            .goals__filter span{
                font-size: 25px;
            }

            .goals__content--line span {
                font-size: 15px;
            }
            
            .status {
                font-size: 17px;
                font-weight: 500;
            }

            .goals__content--line {
                font-size: 16px;
            }
        }

        .black-options-container-closed{
            left: -300px;
        }

.black-options-container{
    background-color: rgba(black,.8);
    width: 250px;
    height: 100px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    transition: all .3s ease-in-out;
    z-index: 998;
}