$color-nav-1: rgba(35,40,50,.6);
$color-teal-light: #00CAF2;
$color-teal-dark: #0A828B;
$color-transparent-white: rgba(255,255,255,.1);
$color-dark-box-1: rgba(35,40,50,.5);

//STATUSES COLORS
$color-green: #3BAF00;
$color-green-transparent: rgba($color-green, .3);
$color-yellow: #AFA800;
$color-yellow-transparent: rgba(#AFA800, .3);
$color-red: #E51313;
$color-red-transparent: rgba(#E51313, .3);

//OTHER COLORS
$lightBlue: #028eec;
$darkBlue: #015699;
$greyBlue: #3C8DBC;
$greyBlue-2: #62A4C9;
$darkBlue-2: #23526E;
$primary-yellow: #EBB742;
$primary-red: #EB4242;
$primary-green: #48AF60;
$super-light-blue: #F5FAFD;
$color-primary-dark: #262626;;