.title{
    color: white;
    margin: 30px 0 0 20px;
    font-size: 25px;
}

.entry-container{
    display: flex;
    position: fixed;
    top: 45px;
    left: 0;
    justify-content: space-around;
    color: #fff;
    width: 100%;
    align-items: center;
    background-color: rgba(13, 14, 17, .7);
    padding: 10px 0;
    height: 100px;
    z-index: 10;
    &__title{
        font-size: 18px;
    }
    &__parameters{
        display: flex;
        justify-content: space-between;
        &--block{
           margin: 0 10px;
           font-size: 13px;
           .fecha{
                background-color: transparent;
                color: white;
                border: none;
                border-bottom: solid .5px #fff;
                text-align: center;
                color: #fff;
           }
        }
    }
    button{
        padding: 5px 10px;
        border: solid 1px #028eec;
        background: transparent;
        color: #028eec;
        font-size: 12px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        border-radius: 5px;
        &:hover{
            color: #fff;
            background: #028eec;
        }
    }
}

.message{
    color: #fff;
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    letter-spacing: 1px;
    opacity: .7;
}

.spacer{
    margin-top: 200px;
}